<ul class="nav">
    <li class="nav-title">
        Admin Dashboard
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="userDashboard">View Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="profile-update"> Update Profile</a>
    </li>

    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="verifyList">Verify Requests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="adminDeletesAds">Delete Ads</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="adminVerifyAds">Verify Ads</a>
    </li>
</ul>