<ul class="nav">
    <li class="nav-title">
        User Dashboard
    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="userDashboard">View Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="profile-update"> Update Profile</a>
    </li>

    </li>

    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="verifyRequestStudent"> Verify Request As Student</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="verifyRequestOwner">Verify Request As Owner
        </a>
    </li>

</ul>