<ul class="nav">
    <!-- <li class="nav-title">
        User Dashboard
    </li> -->


  <li class="nav-item nav-dropdown">
        

        <a class="nav-link nav-dropdown-toggle"><i class="fa fa-user" aria-hidden="true"></i> My Dashboard </span></a>

        <ul class="nav-dropdown-items">

          <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="userDashboard">View Profile</a>
    </li>


          <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="profile-update"> Update Profile</a>
    </li>

        </ul>
    </li>





 <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" ><i class="fa fa-home" aria-hidden="true"></i> Verify Request As:</a>

        <ul class="nav-dropdown-items">

         <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="verifyRequestStudent"> Verify Request As Student</a>
    </li>


           <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="verifyRequestOwner">Verify Request As Owner
        </a>
    </li>
    </li>

        </ul>
    <!-- </li> -->











    <!-- </li> -->

    


   

<!-- </ul> -->