<div layout="column" layout-align="center center" style="min-height: 500px; margin-top: 2%">
    <div layout="row">
        <div layout="column" flex="30">
            <!-- 1st Card -->
            <div class="card card-inverse">
                <!-- The Photo -->
                <div ng-if="$ctrl.rentable.photo_path"><img class=" card-img m-x-auto img-fluid img-circle" ng-src="{{$ctrl.apiUrl}}/{{$ctrl.rentable.photo_path}}"></div>
                <div ng-if="!$ctrl.rentable.photo_path"><img class=" card-img m-x-auto img-fluid img-circle" src="../../assets/images/noimageavailable.png"></div>

                <div class="card-img-overlay">
                    <h4 class="card-title">
                        <div ng-show="$ctrl.rentable.address">{{$ctrl.rentable.address}}</div>
                    </h4>
                </div>

                <br/>
                <div style="margin-left: 10%; color: #000">
                    <!-- Vacant -->
                    <!--<div layout="row" layout-align="center">
                        <div ng-show="$ctrl.rentable.vacant" class="black"><em style="color: #048900;">available for rent !</em></div>
                        <div ng-show="!$ctrl.rentable.vacant" class="black"><strong style="color: #B22005;">not available</strong></div>
                    </div>-->

                    <!-- Price -->
                    <div ng-show="$ctrl.rentable.rent_price">Price: &nbsp<span style="font-size:36px;">{{$ctrl.rentable.rent_price}}</span>&nbsp EGP
                    </div>

                    <!-- Postdate -->
                    <div ng-show="$ctrl.rentable.posting_date">Post date : {{$ctrl.rentable.posting_date| date:'yyyy-MM-dd'}} </div>
                    <div ng-show="!$ctrl.rentable.posting_date">Post date : N/A </div>

                    <!-- Insurance -->
                    <div ng-show="$ctrl.rentable.insurance">Insurance: {{$ctrl.rentable.insurance}} EGP</div>
                    <div ng-show="!$ctrl.rentable.insurance">Insurance: This information is disclosed by the owner </div>
                    <br/>

                    <!-- Summary -->
                    <div ng-show="$ctrl.rentable.summary">Summary: <br/>
                        <md-content flex layout-padding layout-wrap style=" word-wrap: break-word;">
                            {{$ctrl.rentable.summary}}
                        </md-content>
                    </div>

                </div>
                <ng-map id="map" zoom="8" center="[{{$ctrl.rentable.latitude}},{{$ctrl.rentable.longitude}}]">
                    <marker position="[{{$ctrl.rentable.latitude}},{{$ctrl.rentable.longitude}}]" title="drag me" draggable="true"></marker>
                </ng-map>
                <div ng-if="$ctrl.ownerRentables.includes($ctrl.rentable._id)" layout="column" layout-align="center center">
                    <md-button class="md-primary" style="width:90%" ng-href="#!/rentable/edit/{{$ctrl.rentable._id}}"> Edit Rentable </md-button>
                    <md-button class="md-primary" style="width:90%" ng-href="#!/owner/rentRequests/{{$ctrl.rentable._id}}"> View Rent Requests</md-button>
                </div>
            </div>
        </div>
        <div layout="column" flex="3">
            <div class="card" style="background-color:rgba(0, 0, 0, 0); border: 0">
                <div class="card-block">
                </div>
            </div>
        </div>
        <div layout="column" flex="70">
            <!-- 2nd Card -->
            <div class="card">

                <div class="card-block">
                    <h3>General information</h3>
                    <br/>

                    <!-- Address -->
                    <div ng-show="$ctrl.rentable.address"> <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <strong> Address: </strong>{{$ctrl.rentable.address}}</div>
                    <div ng-show="!$ctrl.rentable.address"> <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> <strong> Address: </strong> This information is disclosed by the owner</div>
                    <br/>

                    <!-- Dstrict -->
                    <div ng-show="$ctrl.rentable.district"> <i class="fa fa-building fa-2x" aria-hidden="true"></i> <strong> District: </strong> {{$ctrl.rentable.district}}</div>
                    <br/>

                    <!-- Size -->
                    <div ng-show="$ctrl.rentable.size"> <strong>m<sup>2</sup></strong> &nbsp<strong> Size: </strong> {{$ctrl.rentable.size}} m<sup>2</sup></div>
                    <br/>

                    <!-- Floor Level -->
                    <div ng-show="$ctrl.rentable.floor_level"><md-icon md-svg-src="img/icons/stairs.svg"></md-icon><strong> Floor Level: </strong> {{$ctrl.rentable.floor_level}}
                    </div>
                    <div ng-show="!$ctrl.rentable.floor_level"><i><img src="assets/images/amenities/stairs.png" style="size:24px; height:25;"></i> <strong> Floor Level: </strong> This information is disclosed by the owner</div>
                    <br/>

                    <!-- Rooms -->
                    <div ng-show="$ctrl.rentable.number_of_rooms"><i><img src="assets/images/amenities/door.svg" style="size:24px; height:30;"></i><strong> Number of rooms: </strong> {{$ctrl.rentable.number_of_rooms}}</div>
                    <div ng-show="!$ctrl.rentable.number_of_rooms"><i><img src="assets/images/amenities/door.svg" style="size:24px; height:30;"></i><strong> Number of rooms: </strong>This information is disclosed by the owner</div>
                    <br/>

                    <!-- Bathrooms -->
                    <div ng-show="$ctrl.rentable.number_of_bathrooms"><i class="fa fa-bath fa-2x" aria-hidden="true"></i> <strong> Number of bathrooms: </strong> {{$ctrl.rentable.number_of_bathrooms}}</div>
                    <div ng-show="!$ctrl.rentable.number_of_bathrooms"><i class="fa fa-bath fa-2x" aria-hidden="true"></i> <strong> Number of bathrooms: </strong>This information is disclosed by the owner</div>
                    <br/>

                    <md-divider md-inset></md-divider>
                    <br/>
                    <!-- Amenities -->
                    <h3>Amenities</h3>
                    <br/>

                    <div layout="row">
                        <!-- First Column -->
                        <div layout="column" flex>

                            <!-- furnished -->
                            <div ng-if="$ctrl.rentable.amenities.furnished == 'true'">
                                <i><img src="assets/images/amenities/furniture.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> is furnished
                            </div>

                            <!-- furnished -->
                            <div ng-if="$ctrl.rentable.amenities.TV == 'true'">
                                <i><img src="assets/images/amenities/tv.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has a TV
                            </div>

                            <!-- air_conditioning -->
                            <div ng-if="$ctrl.rentable.amenities.air_conditioning == 'true'">
                                <i><img src="assets/images/amenities/ac.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has air conditioning
                            </div>

                            <!-- cooker -->
                            <div ng-if="$ctrl.rentable.amenities.cooker == 'true'">
                                <i><img src="assets/images/amenities/cooker.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has a cooker
                            </div>

                            <!-- heater -->
                            <div ng-if="$ctrl.rentable.amenities.heater == 'true'">
                                <i><img src="assets/images/amenities/heater.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has a heater
                            </div>
                        </div>

                        <!-- Second Column -->
                        <div layout="column" flex>

                            <!-- washer -->
                            <div ng-if="$ctrl.rentable.amenities.washer == 'true'">
                                <i><img src="assets/images/amenities/washer.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has a washer
                            </div>

                            <!-- internet -->
                            <div ng-if="$ctrl.rentable.amenities.internet == 'true'">
                                <i><img src="assets/images/amenities/wifi.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has internet
                            </div>

                            <!-- landline -->
                            <div ng-if="$ctrl.rentable.amenities.landline == 'true'">
                                <i><img src="assets/images/amenities/landline.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> has a landline
                            </div>

                            <!-- parking -->
                            <div ng-if="$ctrl.rentable.amenities.parking == 'true'">
                                <i><img src="assets/images/amenities/parking.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> parking available
                            </div>

                            <!-- elevator -->
                            <div ng-if="$ctrl.rentable.amenities.parking == 'true'">
                                <i><img src="assets/images/amenities/elevator.png" style="size:24px; height:30;"></i>
                                <i class="material-icons" style="color:#00ff00;">done</i> elevator available
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>