<form name="$ctrl.paymentForm" ng-submit="$ctrl.addPaymentInfo()" ng-init="$ctrl.getUser()">

    <md-content class="md-no-momentum">

        <md-input-container flex class="md-icon-float md-block">

            <label>Account</label>
            <input required name="account" ng-model="$ctrl.user.payment_info.account">
            <div ng-messages="$ctrl.paymentForm.account.$error" md-auto-hide="false">
                <div ng-message="required">Account is required.</div>
            </div>

        </md-input-container>

        <md-input-container flex class="md-icon-float md-block">

            <label>Bank</label>
            <input required name="bank" ng-model="$ctrl.user.payment_info.bank">
            <div ng-messages="$ctrl.paymentForm.bank.$error" md-auto-hide="false">
                <div ng-message="required">Bank is required.</div>
            </div>

        </md-input-container>

    </md-content>

    <div>
        <md-button ng-if="$ctrl.payment" class="md-raised md-warn" ng-diabled="$ctrl.paymentForm.$invalid" type="submit">UPDATE PAYMENT INFO</md-button>
        <md-button ng-if="$ctrl.noPayment" class="md-raised md-warn" ng-diabled="$ctrl.paymentForm.$invalid" type="submit">ADD PAYMENT INFO</md-button>
    </div>

</form>