<div ng-cloak style="margin-top: 2%; margin-left: 4%">

    <div class="md-toast-content">
        <md-toast></md-toast>
    </div>

    <div flex="80" style="margin: 2%">
        <h3>New Rentable</h3><br/>
        <md-content layout-padding>
            <form name="rentableForm" ng-submit="$ctrl.uploadFile()">

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Rentable Type</label>
                        <md-select name="rentable_type" ng-model="$ctrl.rentable_type" required>
                            <md-option value="Apartment">Apartment</md-option>
                            <md-option value="Room">Room</md-option>
                        </md-select>
                    </md-input-container>

                </div>

                <br/>
                <label>Pinpoint your rentable's location</label>
                <br/>
                <!--<div flex="90" layout="row" layout-align="center center">-->
                    <ng-map id="map" zoom="8" center="[{{$ctrl.lat}},{{$ctrl.lon}}]">
                        <marker position="[{{$ctrl.lat}},{{$ctrl.lon}}]" title="drag me" draggable="true" on-dragend="$ctrl.markerMove()"></marker>
                    </ng-map>
                <!--</div>-->

                <md-input-container class="md-block">
                    <label>District</label>
                    <input required name="district" ng-model="$ctrl.district">
                    <div ng-messages="rentableForm.district.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout-gt-xs="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Size</label>
                        <input required type="number" step="any" name="size" ng-model="$ctrl.size" min="5" max="3000" />
                        <md-icon md-svg-src="img/icons/meter.svg"></md-icon>

                        <div ng-messages="rentableForm.size.$error">
                            <div ng-message="required">This is required.</div>

                            <div ng-message="min">
                                {{rentableForm.size.$viewValue}}? No one could fit in there!
                            </div>

                            <div ng-message="max">
                                {{rentableForm.size.$viewValue}}? The size should be at most 3000 m².
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Rent</label>
                        <input required type="number" step="any" name="rent" ng-model="$ctrl.rent_price" />
                        <md-icon md-svg-src="img/icons/currency-egypt.svg"></md-icon>
                        <div ng-messages="rentableForm.rent.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Insurance</label>
                        <input type="number" step="any" name="insurance" ng-model="$ctrl.insurance" min="0" />
                        <md-icon md-svg-src="img/icons/currency-egypt.svg"></md-icon>
                        <div ng-messages="rentableForm.insurance.$error">
                            <div ng-message="min">The insurance can't be negative.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Floor Level</label>
                        <input type="number" step="any" name="floor_level" ng-model="$ctrl.floor_level" min="0" />
                        <md-icon md-svg-src="img/icons/stairs.svg"></md-icon>

                        <div ng-messages="rentableForm.floor_level.$error">
                            <div ng-message="min">The floor level can't be negative.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" ng-show="$ctrl.rentable_type==='Apartment'" flex-gt-sm>
                        <label>Number of Rooms</label>
                        <input type="number" step="any" name="number_of_rooms" ng-model="$ctrl.number_of_rooms" min="0" />
                        <md-icon md-svg-src="img/icons/room.svg"></md-icon>

                        <div ng-messages="rentableForm.number_of_rooms.$error">
                            <div ng-message="min">The number of rooms can't be negative.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Number of Bathrooms</label>
                        <input type="number" step="any" name="number_of_bathrooms" ng-model="$ctrl.number_of_bathrooms" min="0" />
                        <md-icon md-svg-src="img/icons/wc.svg"></md-icon>

                        <div ng-messages="rentableForm.number_of_bathrooms.$error">
                            <div ng-message="min">The number of bathrooms can't be negative.</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Summary</label>
                    <textarea md-maxlength="100" name="summary" ng-model="$ctrl.summary"></textarea>
                    <div ng-messages="rentableForm.summary.$error">
                        <div ng-message="md-maxlength">The summary must be less than 100 characters long.</div>
                    </div>
                </md-input-container>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-align="center center" layout-padding>
                    <div>
                        <label for="input-file-id" class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="assets/images/icons/insert_photo.svg"></md-icon>
                    Add Image for Rentable :
                </label>
                    </div>
                    <input class="ng-hide" input name="photo" id="input-file-id" type="file" accept="image/*" file-model="$ctrl.photo" />
                    <label for="input-file-id" class="md-button md-primary">Upload photo</label>
                </md-content>

                <div layout="row" layout-wrap>
                    <div flex="100" layout="column">
                        <div>
                            <fieldset class="demo-fieldset">
                                <legend class="demo-legend">
                                    <font color="red">Amenities</font>
                                </legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex-xs flex="50">
                                        <md-checkbox aria-label="Select All" ng-checked="$ctrl.isChecked()" md-indeterminate="$ctrl.isIndeterminate()" ng-click="$ctrl.toggleAll()">
                                            <span ng-if="$ctrl.isChecked()">Un-</span>Select All
                                        </md-checkbox>
                                    </div>
                                    <div class='md-padding' layout="row" layout-wrap>
                                        <div class="demo-select-all-checkboxes" flex="50" ng-repeat="item in $ctrl.items">
                                            <md-checkbox ng-checked="$ctrl.exists(item, $ctrl.selected)" ng-click="$ctrl.toggle(item, $ctrl.selected)">
                                                {{ item }}
                                            </md-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div layout="row" layout-align="center center">
                    <md-button style="width: 30%" type="submit" class="md-primary" ng-disabled="rentableForm.$invalid">Submit</md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>